<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="user" class="cn.oushubo.pojo.User">
        <property name="num" value="2320710207" />
        <property name="name" value="欧树波" />
        <property name="teacherClass" value="BLF" />
    </bean>
</beans>