<?xml version="1.0" encoding="UTF-8"?>
<!--引入约束-->
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--配置文件引入-->
    <properties resource="db.properties"/>
    <!--设置mybatis运行参数-->
    <settings>
        <!--开启二级缓存-->
        <setting name="cacheEnabled" value="true"/>
        <!--控制懒加载的-->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!--设置日志为标准输出格式-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <!--属性使用驼峰的命名,开启驼峰转换-->
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>
    <!--配置别名-->
    <typeAliases>
        <!--type指类的全限定名称,alias为别名-->
        <!--<typeAlias type="cn.com.sise.pojo.Freshman"/>-->
        <!--定义包的形式,可以多个-->
        <package name="cn.oushubo.pojo"/>
    </typeAliases>
    <!--开发环境development-->
    <environments default="development">
        <environment id="development">
            <!--事务管理-->
            <transactionManager type="JDBC"/>
            <!--数据库连接池-->
            <dataSource type="POOLED">
                <!--数据库驱动-->
                <property name="driver" value="${jdbc.driver}"/>
                <!--连接数据库的url-->
                <property name="url" value="${jdbc.url}"/>
                <!--连接数据库的用户名-->
                <property name="username" value="${jdbc.username}"/>
                <!--连接数据库的密码-->
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <!--类注册引入,用class属性-->
        <package name="cn.oushubo.mapper"/>
    </mappers>
</configuration>